---
import Layout from "@/layouts/Dashboard.astro";
import Table from "@/components/client/dashboard/user/components/Table/Table";
---

<Layout title="Dashboard">
  <section class="p-4">
    <h2 class="text-3xl font-bold mb-4">User</h2>
    <Table client:load />
  </section>
</Layout>
