---
import Motorcycle from '@/icons/Motorcycle.astro'
---
<article class="w-full h-40 p-4 flex flex-col justify-end bg-gray-200 rounded-lg
  md:hidden">
  <h2 class="w-full text-3xl text-primary font-black">
    Delivery a toda la localidad
  </h2>
  <div class="w-full flex justify-end items-center">
    <div class="h-full flex justify-center items-end flex-col gap-y-2 translate-y-2">
      <span class="bg-black h-[2px] w-8 rounded-full animate-bounce-side-1"></span>
      <span class="bg-black h-[2px] w-10 rounded-full animate-bounce-side-2"></span>
      <span class="bg-black h-[2px] w-6 rounded-full animate-bounce-side-3"></span>
    </div>
    <Motorcycle class="size-16 self-end mr-10"/>
  </div>
</article>